body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  font-size: 14px;
  padding: 0;
}
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
}
tr:nth-child(even) {
  background-color: hsl(220, 0%, 97%);
}
.mt_side {
  padding-left: 20px;
}
.mt_status {
  font-family: "Apple Color Emoji", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
td.mt_status, th.mt_status {
  width: 12%;
  text-align: center;
  cursor: default;
}
.mt_top td {
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
  vertical-align: middle;
}
.mt_status_bad {
  /* background-color: red; */
  background-color: white;
}
.mt_status_good {
  /* background-color: hsl(130, 95%, 40%); */
  background-color: green;
}
.mt_status_warn {
  background-color: yellow;
}
.mt_status_untested, .mt_status_yaml_failed {
  background-color: white;
}
.mt_status_generation_failed {

}
.mt_status_runtime_failed {
  /* background-color: hsl(60, 100%, 80%); */
  /* text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); */
}

#errors pre {
    /* white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; */
    
}
#errors {
  background-color: hsl(60, 50%, 95%);
  padding: 20px;
  color: hsl(350, 50%, 10%);
  position: absolute;
  width: calc(100% - 500px);
  right: 0;
  top: 0;
  z-index: 1;
  overflow: scroll;
  position: fixed;
  height: 100vh;
}
#errors h3 {
  margin-top: 0;
  margin-bottom: 10px;
}